@tailwind base;
@tailwind components;
@tailwind utilities;

@import "daisyui";

/* Custom styles */

@layer base {
  @font-face {
    font-family: "CairoB";
    src: url("./assets/fonts/Cairo-Black.ttf");
  }
  @font-face {
    font-family: "CairoL";
    src: url("./assets/fonts/Cairo-Light.ttf");
  }
  @font-face {
    font-family: "CairoM";
    src: url("./assets/fonts/Cairo-Medium.ttf");
  }
  @font-face {
    font-family: "Rema";
    src: url("./assets/fonts/Remachine.ttf");
  }
}

.app {
  @apply flex w-full h-screen justify-center items-center bg-fixed bg-cover;

  .appContainer {
    @apply flex  flex-col lg:flex-row  w-4/5 h-4/5 p-4 bg-sec rounded-3xl;
  }
}
.sidebar {
  @apply lg:h-full sm:h-fit lg:w-[150px] lg:mt-0 mt-4 order-2 lg:order-1 sm:w-full lg:pe-4 rounded-l-3xl justify-center items-center flex flex-col;
  .sidebar-content {
    @apply lg:pb-8 lg:pt-8 ps-8 pe-8  sm:items-center bg-main h-full w-full rounded-2xl flex lg:flex-col sm:flex-row items-center justify-between;
  }
}
.logo {
  @apply lg:text-6xl text-4xl text-brighter lg:mb-6 font-['Rema'];
}
.icon {
  @apply w-14 h-14 bg-brighter rounded-full flex justify-center items-center;
  img {
    @apply block w-1/2 h-1/2;
  }
}
.dashboard {
  @apply flex flex-col order-1 lg:order-1 w-full overflow-hidden;
}
.dashContainer {
  @apply flex h-full lg:overflow-y-hidden items-stretch overflow-y-scroll lg:flex-row flex-col;
}
.transactions-table {
  @apply flex flex-1 flex-col min-w-fit lg:h-full h-[50dvh];

  .rowsCont {
    overflow-y: scroll;
    direction: rtl;
    scrollbar-color: #1e1e36 #0f0f1b;
    scrollbar-width: thin;
    border-radius: 8px;
  }
}
.tableRow {
  @apply mt-4 ms-4 me-4 flex items-center justify-between text-white;
  direction: ltr;
  transition: 0.5s;
  span {
    @apply font-[CairoM] w-[30%];
  }
}
.chartAndCard {
  @apply flex flex-col;
}
svg {
  @apply bg-brighter rounded-2xl mb-4 mt-2;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  color: #ffffff;
  background: linear-gradient(currentColor 0 0) center/100% 3.4px,
    linear-gradient(currentColor 0 0) center/3.4px 100%;
  background-repeat: no-repeat;
  animation: spinner-slq5ph 2s infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: repeating-conic-gradient(#0000 0 35deg, currentColor 0 90deg);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 3.4px),
    #000 0
  );
  border-radius: 50%;
}

.spinner::after {
  margin: 20%;
}

@keyframes spinner-slq5ph {
  100% {
    transform: rotate(1turn);
  }
}
